# MySQL
MYSQL_ROOT_PASSWORD=<your_pass>
MYSQL_DATABASE=<name_app>
MYSQL_USER=<your_user>
MYSQL_PASSWORD=<your_pass>

# Timezone
TIMEZONE=America/New_York
PHP_VERSION=7.3
DECODE=ioncube

# project name 
PROJECT_NAME=<project_name>
DOMAIN_NAME=<domain_name>
PHPMYADMIN_DOMAIN_NAME=<phpadmin_domain_name>
