<div class="navbar-header">
    <button type="button" id="menuCollapse" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="navbar-brand">
        <div id="adspheaderdiv" class="navbar-header" style="width: 100%">
            <a href="{{path('adspace_dashboard')}}">
                <figure class="logotype pull-left"><img alt="AdSpace Cloud" src="{{asset('/images/logoAdSpaceCloud.png')}}"></figure>
            </a>
            <h1 class="newtitleh1 pull-left">AdSpace Cloud</h1>
        </div>
    </div>
</div>
